


@media(min-width:576px){
    
    
    
    
    
    
}


@media(min-width:768px){
    
    
    
    
    
}


@media(min-width:992px){
    
    .active{
    border-bottom: 1px solid #81868E !important;
}
    
    #main-menu ul li{
    border-bottom: none;
}
    
 #main-menu ul li:hover{
    background-color: transparent; 
    border-bottom: 1px solid #81868E;
}   

.herro{
   padding: 350px 0;
   
}
   
    
    
}





@media(min-width:1200px){
    
    .container{
        max-width: 1120px;
    }
    
    
    
}